node_modules
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env/
coverage/
coverage.json
coverage.lcov
lcov-report/
.env
.scannerwork/report-task.txt
sonar-project.properties
.scannerwork/scanner-report/analysis.log
