node_modules
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/.env
sonar-project.properties

# Ignore coverage reports
coverage/
coverage.json
coverage.lcov
lcov-report/
.scannerwork/report-task.txt
